.terraform
.terraform.lock.hcl
.tflint.hcl
orchestrator
output.json
recos.txt
tagsID.txt
terraform.tfstate
terraform.tfstate.backup
credentials.json
run1.sh
tf.show
extra.sh
.vscode
reccos.json
cloudfix-linter*
CDK
CF 
